<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../css/users.css">
</head>
<body>
<header>
  <ul class="rg">
    <h1 class="rg">RAPiD GENOMICS</h1>
  </ul>
  <ul class="navbar">
    <li class="top"><a class="tabs" href="#home">Home</a></li>
    <li class="top"><a class="tabs" href="#message_board">Message Board</a></li>
    <li class="top"><a class="tabs" href="#groups">Groups</a></li>
    <li class="top"><a class="tabs" href="#settings">Settings</a></li>
  </ul>
</header>

<form class="user center" name="addGroupLeaderForm" ng-submit="submitNewUser();" novalidate>
  <div class="form-group" ng-class="{'has-error': addGroupLeaderForm.name.$invalid && !addGroupLeaderForm.name.$pristine }">
  <h2>Add User</h2>
  <label>Name</label>
  <br>
  <input class="user card form-control" type="text" name="firstname" placeholder="First" autofocus ng-model="newUser.name" required />
  <p ng-show="addGroupLeaderForm.name.$invalid && !addGroupLeaderForm.name.$pristine" class="help-block">
    Please enter a name
  </p>

  <br>
  <input class="user card" type="text" name="lastname" placeholder="Last">
  <br><br>

  <label>Email</label>
  <br>
  <input class="user card form-control" type="email" name="email" placeholder="Email Address" ng-model="newUser.email" required />
  <p ng-show="addGroupLeaderForm.email.$invalid && !addGroupLeaderForm.email.$pristine" class="help-block">
    Please enter a valid email
  </p>
  <br>
  <input class="user card form-control" type="email" name="email2" placeholder="Enter Email Address Again" ng-model="newUser.email2" required />
  <br><br>

  <p ng-show="addGroupLeaderForm.email2.$invalid && !addGroupLeaderForm.email2.$pristine" class="help-block">
    Please verify email
  </p>

  <div ng-show="emailMismatch" class="alert alert-danger fade in">
    <a href="#" class="close" ng-click="emailMismatch = !emailMismatch" aria-label="close">&times;</a>
    Emails do not match.
  </div>

  <input type="submit" class="btn btn-primary user card" ng-disabled="addGroupLeaderForm.$invalid"></input>
</div>
</form>
</div>

<div class="list-group">
<a ng-repeat="project in pagedItems" ui-sref="new-user({projectId: project._id})" class="list-group-item">
  <input class="user" type="checkbox"></input>
  <h4 class="list-group-item-heading" ng-bind="project.user"></h4>
</a>
</div>

</body>
</html>
