<section>
  <div ng-init = "loadProjects()"></div>
  <div class="page-header">
    <br><br>

    <h1>User: <span ng-bind="user.username"></span></h1>

  </div>
  <div class="top-edit">
    <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="user card" ng-model="user.firstName" placeholder="First Name" required />
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="user card" ng-model="user.lastName" placeholder="Last Name" required />
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" ng-show="admin" show-errors>
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <input class="user card" type="text" name="roles" ng-model="user.roles" id="roles" placeholder="Roles" ng-list required />
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
        </div>
        <button class="btn btn-primary card material left-float" ng-click="remove();" ng-if="user._id !== authentication.user._id">Delete User</button>
        <div class="form-group">
          <button type="submit" value="Update" class="btn btn-primary user card material right-float">Update Information</button>
          <!--<input value="permissions" class="btn btn-default user card" ui-sref ="admin.user-permissions({userId: user._id})">-->
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <br>
  <h1 class="access-header">User Access</h1>
  <div>
    <div class="col-sm-4">
     <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>Available Projects</h4>
        <label>Filter: <input class="searchInput" ng-model="search.searchNonSelected"></label>
      </div>
      <div class="scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Project Code</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in nonSelected | filter:search.searchNonSelected" ng-click="moveProject(project)">
              <td>{{project}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>Projects the User Will Have Access To</h4>
        <label>Filter: <input class="searchInput" ng-model="search.searchSelected"></label>
      </div>
      <div class="scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Project Code</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in isSelected | filter:search.searchSelected" ng-click="selectProject(project)">
              <td>{{project}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>{{selectedProject}}</h4>
        <h3>Permissions</h3>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxSamples">Samples Access</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxPlates">Plates Access</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxProject">Project Access</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxFinances">Project Finances Access</label>
      </div>
      <!--<div class="checkbox">
        <label><input type="checkbox" id ="ckboxMessage">Message Board Access</label>
      </div>-->
    </div>
  </div>
    <button value="update" class="btn btn-primary user card material right-float" ng-click="permissionsUpdate()">Update Permissions</button>
    <button value="remove" class="btn btn-default user card material right-float" ng-click="removeProject()">Remove Project</button>
  </div>
</section>
