<header>
  <title>RG Invite New User</title>
</header>
<body>
  <br><br><br>
  <div class="container">
    <div class="col-md-6">
      <form class="user center" name="newUserForm" ng-submit="submitNewUser();" novalidate>
        <div class="form-group" ng-class="{'has-error': newUserForm.name.$invalid && !newUserForm.name.$pristine }">
          <h2>Add User</h2>
            <br>
          <label>First Name</label>
            <br>
          <input class="user card" type="text" name="name" placeholder="First Name" autofocus ng-model="newUser.firstName" required />
          <p ng-show="newUserForm.firstName.$invalid && !newUserForm.firstName.$pristine" class="help-block">
            Please enter a first name
          </p>
            <br><br>
          <label>Last Name</label>
            <br>
          <input class="user card" type="text" name="name" placeholder="Last Name" ng-model="newUser.lastName" required />
          <p ng-show="newUserForm.lastName.$invalid && !newUserForm.lastName.$pristine" class="help-block">
            Please enter a last name
          </p>
            <br><br>
          <label>Email</label>
            <br>
          <input class="user card" type="email" name="email" placeholder="Email Address" ng-model="newUser.email" required />
          <p ng-show="newUserForm.email.$invalid && !newUserForm.email.$pristine" class="help-block">
            Please enter a valid email
          </p>
            <br>
          <label>Re-Enter Email</label>
          <input class="user card" type="email" name="email2" placeholder="Verify Email" ng-model="newUser.email2" required />
          <br><br>
          <p ng-show="newUserForm.email2.$invalid && !newUserForm.email2.$pristine" class="help-block">
            Please verify email
          </p>
          <div ng-show="emailMismatch" class="alert alert-danger fade in">
            <a href="#" class="close" ng-click="emailMismatch = !emailMismatch" aria-label="close">&times;</a>
            Emails do not match.
          </div>
          <button type="submit" ng-hide="submitted == 'true'" class="btn btn-primary user card material" ng-disabled="newUserForm.$invalid"/>Submit</button>
          <div class ="right-button">
              <!--<i class="glyphicon glyphicon-refresh spinning" ng-show="submitted == 'true'"></i>-->
              <div id="spinner" ng-hide="submitted == 'false'">
                <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
              </div>
         </div>
        </div>
      </form>
    </div>
  <div class="col-md-6">
    <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>Available Projects</h4>
        <label>Filter: <input class="searchInput" ng-model="search.searchNonSelected"></label>
      </div>
      <div class="scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Project Code</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in nonSelected | filter:search.searchNonSelected" ng-click="moveProject(project, 'availableProjects')">
              <td>{{project.projectCode}}</td>
              <td>{{project.user}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>Projects the User Will Have Access To</h4>
        <label>Filter: <input class="searchInput" ng-model="search.searchSelected"></label>
      </div>
      <div class="scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Project Code</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in isSelected | filter:search.searchSelected" ng-click="moveProject(project, 'selectedProjects')">
              <td>{{project.projectCode}}</td>
              <td>{{project.user}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
