<section class = "permissions-page-top-border">
  <div ng-init = "loadProjects()">
  </div>
  <div class="container">
  <div class="col-md-6">
    <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>Available Projects</h4>
        <label>Filter: <input class="searchInput" ng-model="search.searchNonSelected"></label>
      </div>
      <div class="scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Project Code</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in nonSelected | filter:search.searchNonSelected" ng-click="moveProject(project)">
              <td>{{project}}</td>
              <td>{{user.firstName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>Projects the User Will Have Access To</h4>
        <label>Filter: <input class="searchInput" ng-model="search.searchSelected"></label>
      </div>
      <div class="scrollable">
        <table class="table">
          <thead>
            <tr>
              <th>Project Code</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="project in isSelected | filter:search.searchSelected" ng-click="selectProject(project)">
              <td>{{project}}</td>
              <td>{{user.firstName}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel card">
      <div class="panel-heading RG-panel-color white-text">
        <h4>{{selectedProject}}</h4>
        <h1>{{user.firstName}}</h1>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxSamples">Samples Access</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxPlates">Plates Access</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxProject">Project Access</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxFinances">Project Finances Access</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" id ="ckboxMessage">Message Board Access</label>
      </div>
    </div>
    <input value="update" class="btn btn-default user card" ng-click="permissionsUpdate()">
    <input value="remove" class="btn btn-default user card" ng-click="removeProject()">
  </div>
</div>
</section>