<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../css/users.css">
</head>
<body>
<header>
  <ul class="rg">
    <h1 class="rg">RAPiD GENOMICS</h1>
  </ul>
  <ul class="navbar">
    <li class="top"><a class="tabs" href="#home">Home</a></li>
    <li class="top"><a class="tabs" href="#message_board">Message Board</a></li>
    <li class="top"><a class="tabs" href="#groups">Groups</a></li>
    <li class="top"><a class="tabs" href="#settings">Settings</a></li>
  </ul>
</header>

<form class="user center">
  <h2>Create Account</h2>
  Name<br>
  <input class="user card" type="text" name="firstname" placeholder="First" autofocus>
  <br>
  <input class="user card" type="text" name="lastname" placeholder="Last">
  <br><br>
  Password<br>
  <input class="user card" type="password" name="password" placeholder="Password">
  <br>
  <input class="user card" type="password" name="password" placeholder="Enter Password Again">
  <br><br>
  <input class="user card" type="submit">
</form>

</body>
</html>
