<section id=dashboard ng-controller="HomeController" ng-show="authentication.user">
  <br><br><br><br>
  <div class="card-center">
    <br><br>
    <div class="infocard-large card">
      <h3 class="cardtitle">Progress</h3>
    </div>
    <div class="infocard card">
      <h3 class="cardtitle">Plates</h3>
      <br>
      <div class="plate-done"></div>
      <div class="plate-done"></div>
      <div class="plate-done"></div>
      <div class="plate-todo"></div>
      <div class="plate-todo"></div>
    </div>
    <div class="infocard card">
      <h3 class="cardtitle">Status</h3>
    </div>
  </div>
</section>
