<section id=progress ng-controller="HomeController" ng-show="authentication.user">
  <br><br><br><br>
  
<!-- <div ng-controller="GraphController"> --> 
	<h3> Progress </h3>
	<!--ng-controller="GraphController">-->
	<div id="graphDiv" ng-controller="GraphController" ng-init="getUserProjects()"> </div>
	<p> 
		Key:
			PA: Pending Arrival
			SA: Sample Arrived
			QC1: Quality Control 1
			SH: Shearing
			LP: Library Preparation
			QC2: Quality Control 2
			HB: Hybridization
			QC3: Quality Control 3
			SQ: Sequencing 
			DA: Data Analysis
	
	</p> 
	
	
	<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script> --> 
  </font>
  </body>
</html>

</section>


<!--	<script src="graphical.js"></script> -->