html, body {
  font-family: "Helvetica";
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.permissions-page-top-border {
  margin-top: 10%;
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}



/********************
New Stuff
********************/

.center {
  display: block;
  margin: auto;
  width: 500px;
  padding: 10px;
}

.right {
  position: absolute;
  right: 0;
  margin-right: 105px;
  width: 500px;
  padding: 10px;
}

.right-button {
  margin-left: 90%;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h1.rg {
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
}

ul.rg {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #20307B;
  top: 0;
  width: 100%;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #20307B;
  box-shadow: 0 5px 5px -5px #333;
  top: 0;
  width: 100%;
  text-align:center;
}

li.top {
  display:inline-block;
}

li a.tabs {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

li a:hover {
  opacity: 1.0;
}

li a:active {
  opacity: 1.0;
}

form.user {
  padding: 12px 20px;
}

input.user[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

input:focus {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  outline: none;
}

input.user[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

input.user[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}


input.user[type=submit] {
  width: 33%;
  background-color: #20307B;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 67%;
}

input.user[type=submit]:hover {
  background-color: #20307B;
}

div.user {
  padding: 12px 20px;
  margin: 8px 0;
}

div.info {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

section.info {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

}

a.user {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

button.round{
  background-color:#20307B;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#20307B;
  border:none;
  outline:none;
  color: white;
  font-size:36px;
  text-align: center;
}

button.relative-right{
  position:relative;
  left: 47%;
  margin-top:0;
}

.plus-sign-vertical {
  vertical-align: text-top;
}

.bottomright {
    position: absolute;
    font-size: 18px;
    bottom: 32px;
    right: 48px;
}

.rg-settings-bg-color {
  color: #20307B;
}

/*****************
Scrollable admin permissions select
******************/
.RG-panel-color {
  background-color: #20307B;
}

.white-text {
  color: white;
}

.searchInput {
  color: black;
}

.search-bar {
  position: relative;
}

.search-bar-relative {
  position:relative;
  left: 105%;
  margin-top:70%;
}

.scrollable-list{
    max-height: 370px;
    overflow-y:scroll;
}


.scrollable {
  overflow: auto;
  height: 30vh;
}

.infocard {
  background: linear-gradient(to bottom, #607D8B 0, #607D8B 68px, white 68px, white 100%);
  border-radius: 2px;
  display: block;
  float: left;
  height: auto;
  margin: 1rem;
  position: relative;
  width: 90%;
}

h3.cardtitle {
  padding-left: 12px;
  padding-top: 12px;
  color: white;
  background-size: 20%
}

.card-center {
  margin: auto;
  padding: auto;
}


button.material {
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

button.transparent {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  -webkit-animation: ripple .5s ease-out;
  animation: ripple .5s ease-out;
}
@-webkit-keyframes
ripple { to {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;
}
}
@keyframes
ripple { to {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;
}
}
