<section ng-controller="HomeController" data-ng-init="getUsers()">

	<div class="text-center">
		<div class="row" ng-hide="authentication.user">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" height="500" src="modules/core/client/img/brand/rapid_logo_new_background.png" />
				<p ng-hide="authentication.user">
					<button class="btn btn-primary card-center material card" ui-sref="signin">Log In</button>
				</p>
				<br>
				<div class="row">
					<p class="lead">
						High-throughput, flexible and affordable DNA analysis solutions. RAPiD Genomics offers DNA genotyping and data analysis solutions that suits your unique application
					</p>
				</div>
				<br>
			</div>
		</div>
		<div ng-show="authentication.user" class="center-home">
			<br>
			<br>
			<br>
			<h3 class="projname">{{currProjectCode}}</h3>
			<nav class="projects card-no-hover">
				<div class="navicon">
					<div></div>
				</div>
          		<ol class="list-group scrollable-list">
					<!--<li class="droplist" ng-repeat="project in projects">
						<button class="droplink material transparent" ng-click="switchProject(project)">{{project.projectCode}}</button>
					</li>-->
					<li class="droplist" ng-repeat="name in names">
						<button class="droplink material transparent" ng-click="getOneProject(name)">{{name}}</button>
					</li>
          		</ol>
			</nav>
			<br>
			<br>
			<br>
			<div ng-show="!currProjectCode || showSpinner" class="text-center">
				<div class="spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
				<h3>Loading...</h3>
			</div>
			<div ng-show="currProjectCode && showEverything" class="infocard card" id="infocard">
				<button ng-click="toggleProgress()" class="transparent material cardbutton"><h2 class="cardtitle">Progress</h2><h4 ng-hide="shouldShowProgress" class="cardtitle">(Click to expand)</h4><span class="caret card-caret"></span></button>
				<div ng-show="shouldShowProgress">
				<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-colours="colors">
					<br>
					<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-colours="colors">
				</canvas>
			</div>
			</div>
			<div data-ng-show="platesAccess && showEverything" data-ng-controller="ProjectPlatesController" class="infocard card">
				<button ng-click="togglePlates()" class="transparent material cardbutton"><h2 class="cardtitle">Plates</h2><h4 ng-hide="shouldShowPlates" class="cardtitle">(Click to expand)</h4><span class="caret card-caret"></span></button>
				<table ng-show="shouldShowPlates" class="table table-hover">
					<colgroup>
						<col style="width: 30%;">
						<col style="width: 30%;">
						<col style="width: 30%;">
						<col style="width: 10%;">
					</colgroup>
					<tr>
						<td><strong>Plate Code</strong></td>
						<td><strong>Number of Samples</strong></td>
						<td><strong>Stage</strong></td>
						<td><strong>Detail</strong></td>
					</tr>
					<tr data-ng-repeat="plate in plates | orderBy: 'plateCode' ">
						<td>{{plate.plateCode}}</td>
						<td>{{plate.samples.length}}</td>
						<td>{{converter.convertFromNumber(plate.stage)}}</td>
						<td>
							<plate-view ng-attr-samples-array="plate.samples" ng-attr-quick-view-settings="quickViewSettings" ng-attr-plate-code="plate.plateCode" ng-attr-color-functions="colorFunctions"></plate-view>
						</td>
					</tr>
				</table>
			</div>
			<div ng-show="projectAccess && showEverything" class="infocard card">
				<button ng-click="toggleStatus()" class="transparent material cardbutton"><h2 class="cardtitle">Status</h2><h4 ng-hide="shouldShowStatus" class="cardtitle">(Click to expand)</h4><span class="caret card-caret"></span></button>
				<table ng-show="shouldShowStatus" class="prettified">
					<tr>
						<th>Due</th>
						<td>{{dateDue}}</td>
					</tr>
					<tr>
						<th>Last Edit</th>
						<td>{{dateLastEdit}}</td>
					</tr>
					<tr>
						<th>Arrival</th>
						<td>{{dateArrive}}</td>
					</tr>
					<tr>
						<th>Organism</th>
						<td>{{currOrganism}}</td>
					</tr>
					<tr>
						<th>Stage</th>
						<td>{{currStage}}</td>
					</tr>
					<tr>
							<th>Shearing Method</th>
							<td>{{currShearing}}</td>
					</tr>
					<tr>
						<th>Machine</th>
						<td>{{currMachine}}</td>
					</tr>
				</table>
			</div>
			<div ng-show="projectFinancesAccess && showEverything" class="infocard card">
				<button ng-click="toggleFinance()" class="transparent material cardbutton"><h2 class="cardtitle">Finance</h2><h4 ng-hide="shouldShowFinance" class="cardtitle">(Click to expand)</h4><span class="caret card-caret"></span></button>
				<table ng-show="shouldShowFinance" class="prettified">
					<tr>
						<th>Total Sequencing</th>
						<td>{{currSeq}}</td>
					</tr>
					<tr>
						<th>Total Probes</th>
						<td>{{currTotProbes}}</td>
					</tr>
				</table>
			</div>
			<div ng-show="shouldDisplayUsers && currProjectCode && showEverything" class="infocard card">
				<button ng-click="toggleUsers()" class="transparent material cardbutton"><h2 class="cardtitle">Users</h2><h4 ng-hide="shouldShowUsers" class="cardtitle">(Click to expand)</h4><span class="caret card-caret"></span></button>
				<table ng-show="shouldShowUsers" class="userfied">
					<tr>
						<th class="userhead">First Name</th>
						<th class="userhead">Last Name</th>
						<th class="userhead">Username</th>
						<th class="userhead">Email</th>
					</tr>
					<tr ng-repeat="x in displayedUsers" ui-sref="admin.user-edit({userId: x._id})">
						<td class="userlist">{{x.firstName}}</td>
						<td class="userlist">{{x.lastName}}</td>
						<td class="userlist">{{x.username}}</td>
						<td class="userlist">{{x.email}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
