<section ng-controller="HomeController">
  <div class="text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center home-page-logo-dimensions" src="modules/core/client/img/brand/rapid_logo_formatted.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        High-throughput, flexible and affordable DNA analysis solutions. RAPiD Genomics offers DNA genotyping and data analysis solutions that suits your unique applications.
      </p>
    </div>
    <div class="row">
      <p>
        <a ng-hide="authentication.user" class="btn btn-primary btn-lg outline" ui-sref="signin">Log In</a>
      </p>
    </div>
  </div>
  <div>

  </div>
</section>
